<div id="header">
  <div id="topbar">
    <img id="searchbarimage" src="assets/images/google.png" />
    <div id="searchbar" type="text">
      <input id="searchbartext" type="text" value="Angular" />
      <button id="searchbarmic">
        <img src="assets/images/mic.png" />
      </button>
      <button id="searchbarbutton">
        <svg
          class="svg-icon search-icon"
          aria-labelledby="t//www.w3.org/2000/svg"
          viewBox="0 0 19.9 19.7"
        >
          <g class="search-path" fill="none" stroke="#848F91">
            <path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4" />
            <circle cx="8" cy="8" r="7" />
          </g>
        </svg>
      </button>
    </div>

    <img id="profileimage" src="assets/images/unimage.jpg" />
  </div>
  <div id="optionsbar">
    <ul id="optionsmenu1">
      <li id="optionsmenunew">All</li>
      <li>News</li>
      <li>Videos</li>
      <li>Images</li>
      <li>Maps</li>
      <li>More</li>
    </ul>

    <ul id="optionsmenu2">
      <li>Tools</li>
    </ul>
  </div>
</div>
<div id="searchresult">
  <a>Angularhttps://angular.io</a>
  <h1>Angular</h1>
  <p>
    is a platform for building mobile and desktop web applications. Join the
    community of millions of developers who build compelling user interfaces ...
  </p>
  <p>hello</p>
</div>
