.topbar {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  position: fixed;
  background-color: white;
  margin-top: 20px;
}

.searchbarimage {
  height: 60px;
  padding: 0px 30px 0px 30px;
  cursor: pointer;
}

.searchbarmic {
  height: 45px;
  width: 80px;
  margin-left: auto;
  background-color: white;
}

.searchbarmic img {
  height: 25px;
}

.searchbar {
  width: 625px;
  height: 45px;
  border-radius: 100px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  position: relative;
  bottom: 5px;
  overflow: hidden;
  display: flex;
}

.searchbar:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.searchbar > input {
  height: 45px;
  border-style: none;
  font-size: 16px;
  line-height: 45px;
  padding-left: 20px;
  flex: 1;
}
.searchbar > input:focus {
  outline: none;
}

.searchbar button {
  height: 45px;
  width: 40px;
  margin-right: 0px;
  margin-top: 1px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.optionsmenu2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  margin-left: 130px;
  margin-bottom: 15px;
  padding-top: 10px;
}

.optionsmenu2 li {
  padding: 0px 15px 1px 20px;
  list-style-type: none;
}

.searchresult {
  margin-left: 8px;
  font-family: arial, sans-serif;
  font-size: 15px;
}

.profileimage {
  border-radius: 60px;
  width: 32px;
  height: 32px;
  right: 40px;
  bottom: 10px;
  background-color: #4285f4;
  margin-left: 500px;
  margin-bottom: 10px;
}

.optionsbar {
  width: 100%;
  height: 50px;
  border-width: 0px;
  border-bottom: 1px;
  border-color: lightgray;
  border-style: solid;
  display: flex;
  align-items: flex-end;
  font-family: "Arial";
  font-size: 13px;
  color: rgb(88, 87, 87);
  padding-top: 64px;
}

.optionsmenu1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  margin-left: 150px;
}

.optionsmenu1 li {
  padding: 0px 10px 15px 20px;
}

.optionsmenunew {
  color: #4285f4;
  font-weight: bold;
  position: relative;
  padding-right: 10px;
  display: inline-flex;
}
.results-top {
  color: #777;
  padding-top: 10px;
  padding-bottom: 15px;
}

.searchresult {
  margin-left: 150px;
  font-family: "Arial";
  color: #1a0dab;
  font-weight: normal;
}
.searchresult > a {
  margin-top: 15px;
  color: blue;
}
.optionsmenunew:focus .img {
  height: 1px;
  width: 1px;
  background-color: white;
  padding-block: inherit;
}
.allicon img {
  width: 20px;
  height: 20px;
  right: 40px;
  bottom: 10px;
  background-color: #4285f4;
  margin-right: -10px;
  margin-bottom: 10px;
  display: inline-block;
}
.allicon {
  list-style-type: none;
  display: inline;

  flex-direction: row-reverse;
}
.unimage img {
  border-radius: 40px;
  border-radius: 40px;

  width: 35px;
  height: 35px;
  right: 40px;
  bottom: 10px;
  background-color: #4285f4;
  margin-right: -10px;
  margin-bottom: 10px;
  display: inline;
}
.unimage {
  list-style-type: none;
}
.settingsicon img {
  border-radius: 40px;
  border-radius: 40px;
  width: 25px;
  height: 25px;
  right: 40px;
  bottom: 10px;
  margin-left: 50px;

  margin-bottom: 10px;
  display: inline;
}
.settingsicon {
  list-style-type: none;
  margin-left: 300px;
}
.asd {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 400px;
  cursor: pointer;
  img {
    width: 25px;
    height: 25px;
  }
  div {
    padding: 10px;
  }
}
.icons {
  position: absolute;
  right: 30px;
  width: 320px;
  height: 450px;
  margin-top: 20px;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  background-color: #1a0dab;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    background-color: white;
    li {
      width: 85px;
      height: 85px;
    }
  }
  .appIcon {
    background-image: url(/assets/images/applications.png);
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: white;
  }
}
