<div id="header">
  <div id="topbar">
    <img id="searchbarimage" src="assets/images/google.png" />
    <div id="searchbar" type="text" (submit)="onSubmit()">
      <input
        id="searchbartext"
        type="text"
        placeholder="angular"
        [(ngModel)]="searchItem"
      />
      <button id="searchbarmic">
        <img src="assets/images/mic.svg" />
      </button>
      <button id="searchbarbutton">
        <img src="assets/images/sb.svg" />
      </button>
    </div>

    <img id="profileimage" src="assets/images/unimage.jpg" />
  </div>
  <div id="optionsbar">
    <ul id="optionsmenu1">
      <li id="optionsmenunew">All</li>
      <li>News</li>
      <li>Videos</li>
      <li>Images</li>
      <li>Maps</li>
      <li>More</li>
    </ul>

    <ul id="optionsmenu2">
      <li>Tools</li>
    </ul>
  </div>
</div>
<div id="searchresult" *ngFor="let item of Resultmodel">
  <a>{{ item.url }}</a>
  <h1>{{ item.title }}</h1>
  <p>
    {{ item.description }}
  </p>
  <p>hello</p>
</div>
