<div class="header">
  <div class="topbar">
    <img class="searchbarimage" src="assets/images/google.png" />
    <div class="searchbar" type="text">
      <input
        class="searchbartext"
        type="text"
        placeholder="Search here"
        [(ngModel)]="searchQuery"
      />
      <button class="searchbarmic">
        <img src="assets/images/mic.svg" />
      </button>
      <button class="searchbarbutton" (click)="onClick()">
        <img src="assets/images/sb.svg" />
      </button>
    </div>
    <div class="asd">
      <div><img src="assets/images/settings.png" /></div>

      <div>
        <img src="assets/images/alapp.png" />
        <div class="icons">
          <ul>
            <li *ngFor="let icon of appIcons">
              <span
                class="appIcon"
                [style]="{ backgroundPosition: icon.backgroundPosition }"
              ></span>
              <span>{{ icon.label }}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="unimage"><img src="assets/images/unnamed.png" /></div>
    </div>
  </div>
  <div class="optionsbar">
    <ul class="optionsmenu1">
      <li class="optionsmenunew"><img src="assets/images/sb.svg" />All</li>
      <li>News</li>
      <li>Videos</li>
      <li>Images</li>
      <li>Maps</li>
      <li>More</li>
    </ul>

    <ul class="optionsmenu2">
      <li>Tools</li>
    </ul>
  </div>
</div>

<div class="searchresult" *ngFor="let item of results">
  <p class="results-top">About 34,00,00,000 results (0.37 seconds)</p>
  <h1>{{ item.title }}</h1>
  <a href="">{{ item.url }}</a>
  <a>{{ item.date }}</a>

  <p>
    {{ item.description }}
  </p>
</div>
